@media (max-width: 1023px) {

    .header {
        height: 69px; 
    }

    .header-nav {
        display: none;
    }

    main {
        padding-top: 69px;
    }

    .swiper {
        width: calc(100% - 100px); 
        height: 662px;
        margin: 50px auto;
        border-radius: 16px; 
    }

    .swiper-text {
        width: 80%;
        max-width: 450px;
        padding: 20px;
    }
    .hero-heading {
        font-size: clamp(35px, 5vw, 45px);
        margin-bottom: 12px;
    }
    .hero-quote {
        font-size: clamp(16px, 2.5vw, 20px);
        margin-bottom: 25px;
    }
    .hero-button {
        width: clamp(190px, 25vw, 230px);
        height: clamp(55px, 8vh, 65px);
        font-size: clamp(17px, 2.5vw, 20px);
    }
    .swiper-pagination {
        bottom: 20px;
    }

    .burgerBtn-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  
  .burger__line {
    width: 30px;
    height: 4px;
    border-radius: 10px;
    background-color: black;
  }
}
